aniso8601==8.0.0
awscli==1.16.263
botocore==1.12.253
Click==7.0
colorama==0.4.1
docutils==0.15.2
Flask==1.1.1
Flask-Cors==3.0.8
Flask-PyMongo==2.3.0
Flask-RESTful==0.3.7
flask-swagger==0.2.14
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
MarkupSafe==1.1.1
pyasn1==0.4.7
pymongo==3.9.0
python-dateutil==2.8.0
pytz==2019.3
PyYAML==5.1.2
rsa==3.4.2
s3transfer==0.2.1
six==1.12.0
urllib3==1.25.6
Werkzeug==0.16.0
